body {
    background-color: #f5e1ff; /* Light purple color */
}

.intro h1 {
    font-family: 'Poppins', sans-serif;
    /* Other styles for your heading */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.intro {
    text-align: center;
    margin-bottom: 20px;
}

.info {
    text-align: center;
}

